# Packages for data extraction
python-dotenv
google-cloud-bigquery-storage
pandas

# Packages for EDA & documentation
notebook
ydata_profiling
ipywidgets
seaborn
pyyaml

# Packages for modeling
dbt-bigquery
